@import colors
@import prefixes
@import extraIg
.ig
    @import basics
.ig
    svg
        path
            stroke white
            stroke-opacity 0.3
            stroke-width 2px
        g.sport:hover
        g.event:hover
            opacity 0.8
        .axis
            .tick
                line
                    stroke transparent
                text
                    fill #555
                    font-size 1.3em


    .backButton
        @import backButton

    div.stories
        position absolute
        top 42px
        left 0px
        width 690px
        margin-left 24px
        line-height 1.4em
        h2
            margin-top 0px
        p
            width 390px
        .attachment
            position absolute
            top 0px
            right 0px
            img
                float right
                max-width 270px
                height auto
    ul.stories
        position absolute
        left 25px
        top 0px
        list-style-type none
        margin 0px
        padding 0px
        li
            padding 0px
            margin 0px
            float left
            display block
            background #f6f6f6
            border 1px solid #ccc
            border-left 0px none
            font-size 0.8em
            padding 2px 8px
            &:first-child
                border-left 1px solid #ccc
            &:hover
                cursor pointer
                background lighten(HNBlue, 20%)
                border-right-color HNBlue
            &:active
            &.active
                background lighten(HNBlue, 50%)
                font-weight bold
                border-color darken(HNBlue, 10%)




.ig-background
    height:628px
    top 609px
    position absolute
    left 0px
    width 100%
    background white
    opacity 0.4
