@import prefixes
@import colors
@import basics
svg
    path
        stroke white
        stroke-opacity 0.3
        stroke-width 2px
    .axis
        .tick
            line
                stroke transparent
            text
                fill #555
                font-size 1.3em

.discipliny
    width 100%
    position absolute
    top 0px
    left 0px
    bottom 0px
    overflow hidden
    text-align center
    margin-top 40px
