.ig
    @import prefixes
    @import colors
    @import basics
.ig
    svg
        path
            stroke white
            stroke-opacity 0.3
            stroke-width 2px
        g.sport:hover
        g.event:hover
            opacity 0.8
        .axis
            .tick
                line
                    stroke transparent
                text
                    fill #555
                    font-size 1.3em


    .backButton
        @import backButton
